[Unit]
Description=LiberteaProxyRegister
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
User=root
EnvironmentFile={rootpath}/.env
WorkingDirectory={rootpath}/proxy-register
Type=simple
ExecStart=/bin/bash -c '/usr/bin/python3 -u {rootpath}/proxy-register/main.py >> /tmp/libertea-proxy-register.log'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
