{
    "log": {
        "loglevel": "warning"
    },
    "routing": {
        "rules": [
            {
                "port": "80,443",
                "network": "tcp",
                "outboundTag": "web"
            },
            {
                "port": "80,443",
                "network": "udp",
                "outboundTag": "web"
            },
            {
                "network": "bittorrent",
                "outboundTag": "block"
            }
        ]
    },
    "inbounds": [
        {
            "port": {port},
            "protocol": "socks",
            "udp": true,
            "ip": "127.0.0.1",
            "auth": "noauth"
        }
    ],
    "outbounds": [
        {
            "protocol":"blackhole",
            "tag":"block"
        },
        {
            "protocol": "wireguard",
            "settings": {
                "mtu": {mtu},
                "reserved":[0, 0, 0],
                "secretKey": "{private_key}",
                "address": [
                    {addresses}
                ],
                "peers": [
                    {
                        "publicKey": "{public_key}",
                        "allowedIPs": [
                            "0.0.0.0/0",
                            "::/0"
                        ],
                        "endpoint": "{endpoint}"
                    }
                ]
            },
            "tag": "web"
        }
    ]
}