{% extends "admin/base.jinja" %}
{% block content %}
<!-- <h1 class="mt-5">Welcome, Admin!</h1> -->
{% if active_domains_count == 0 or users_count == 0 %}
<div class="section tutorial">
    <div class="row">
        <div class="col-12">
            {% if active_domains_count == 0 %}
            <div class="mt-2 mb-3">To get started, add a domain to your VPN.</div>
            <div class="mb-3">We recommend you to use a new domain for VPN connection, so if it's blocked, users can still get updates from {{ panel_domain }}.</div>
            <div class="mb-5">
                <a class="btn btn-primary mb-2" href="/{{ admin_uuid }}/domains/new/?next=dashboard">
                    Add new domain
                </a>
                <a class="btn btn-outline-primary mb-2" href="/{{ admin_uuid }}/domains/new/?domain={{ panel_domain }}&next=dashboard">
                    I understand, use {{ panel_domain }}
                </a>
            </div>
            {% endif %}
            <div class="mt-3 mb-3">
                After you've set up your domain, you can add users to your VPN.
            </div>
            <div class="mb-5">
                <a class="btn btn-primary" href="/{{ admin_uuid }}/users/new/?next=dashboard">
                    Add new user
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
{% endif %}

{% if update_available %}
<div class="w-100 mt-4 px-3">
    ⚠️ There's a new version of Libertea available. <a href="https://github.com/VZiChoushaDui/Libertea#update" target="_blank">Update now</a>
</div>
{% endif %}
{% if proxy_update_available %}
<div class="w-100 mt-4 px-3">
    ⚠️ One or more of your Secondary Proxies needs to be updated. <a href="/{{ admin_uuid }}/domains/">more info</a>
</div>
{% endif %}

{% if no_domain_warning %}
<div class="w-100 mt-4 px-3">
    🚨 Warning: You don't have any domains or secondary proxies set for your VPN. User's won't be able to connect to your VPN until you add a domain.<br /><a href="/{{ admin_uuid }}/domains/new/?next=dashboard">Add a domain</a>
</div>
{% endif %}
{% if no_camouflage_warning %}
<div class="w-100 mt-4 px-3">
    🚨 Warning: You don't have a camouflage domain set up, this increases the chance of your VPN being blocked.<br /><a href="/{{ admin_uuid }}/settings/">Set up a camouflage domain</a>
</div>
{% endif %}
{% if active_domains_count == 1 %}
<div class="w-100 mt-4 px-3">
    ⭐ Tip: Use <strong>more than one domain</strong> to increase your VPN's availability.
</div>
{% endif %}
{% if proxies_count == 0 %}
<div class="w-100 mt-4 px-3">
    ⭐ Tip: Consider adding a <strong>secondary proxy</strong> for better availability across various networks.<br /><a href="/{{ admin_uuid }}/domain/?newproxy=true">Add a secondary proxy</a>
</div>
{% endif %}
<div class="section stats">
    <div class="row">
        <div class="col-12">
            <h6 class="bordered">Libertea status</h6>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value">{{ users_count }}</div>
            <div class="stats-item-desc">Users</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value">{{ active_domains_count }}</div>
            <div class="stats-item-desc">Active Domains</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value">{{ proxies_count }}</div>
            <div class="stats-item-desc">Secondary proxies</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value cpu-percent">⌛</div>
            <div class="stats-item-desc">Current CPU usage</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value ram-percent">⌛</div>
            <div class="stats-item-desc">Current RAM usage</div>
        </div>
    </div>
</div>

<div class="section stats">
    <div class="row">
        <div class="col-12">
            <h6 class="bordered">Connection status</h6>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value ips-connected-right-now">⌛</div>
            <div class="stats-item-desc">IPs connected right now</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value users-connected-right-now">⌛</div>
            <div class="stats-item-desc">Users connected right now</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value ips-connected-today">⌛</div>
            <div class="stats-item-desc">IPs connected today</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value users-connected-today">⌛</div>
            <div class="stats-item-desc">Users connected today</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value traffic-today">⌛</div>
            <div class="stats-item-desc">Traffic today</div>
        </div>
        <div class="col-6 col-sm-4 stats-item">
            <div class="stats-item-value traffic-this-month">⌛</div>
            <div class="stats-item-desc">Traffic in {{ month_name }}</div>
        </div>
    </div>
</div>
<div class="section stats">
    <div class="row">
        <div class="col-12">
            <h6 class="bordered">Connected IPs in the past 3 days</h6>
            <canvas id="connectionChart" style="width: 100%; height: 250px;"></canvas>
        </div>
    </div>
</div>
<div class="mt-5" style="opacity: 0.5; font-size: 12px;">
    Libertea, version {{ cur_version }}
</div>
<script>
    function parseStatsValue(val) {
        if (val == null || val == undefined) {
            return '-';
        }
        return val;
    }

    function getSystemStats() {
        fetch('/{{ admin_uuid }}/stats/system')
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                document.querySelector('.cpu-percent').innerHTML = parseStatsValue(data.cpu);
                document.querySelector('.ram-percent').innerHTML = parseStatsValue(data.ram);
            });
    }

    function getUserStats() {
        fetch('/{{ admin_uuid }}/stats/user')
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                document.querySelector('.users-connected-right-now').innerHTML = parseStatsValue(data.users_now);
                document.querySelector('.users-connected-today').innerHTML = parseStatsValue(data.users_today);
                document.querySelector('.traffic-today').innerHTML = parseStatsValue(data.traffic_today);
                document.querySelector('.traffic-this-month').innerHTML = parseStatsValue(data.traffic_this_month);
                document.querySelector('.ips-connected-today').innerHTML = parseStatsValue(data.ips_today);
                document.querySelector('.ips-connected-right-now').innerHTML = parseStatsValue(data.ips_now);
            });
    }

    function updateConnectionChart() {
        fetch('/{{ admin_uuid }}/stats/connections?days=3')
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                const ctx = document.getElementById('connectionChart');
                ctx.innerHTML = "";

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.x,
                        datasets: [{
                            label: 'IPs connected',
                            data: data.y,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                title: {
                                    display: true,
                                    text: "Connected IPs",
                                },
                                beginAtZero: true,
                            }
                        },
                        plugins: {
                            legend: {
                                display: false,
                            },
                            zoom: {
                                zoom: {
                                    wheel: {
                                        enabled: true,
                                    },
                                    pinch: {
                                        enabled: true
                                    },
                                    mode: 'x',
                                },
                                pan: {
                                    enabled: true,
                                    mode: 'x',
                                }
                            }
                        },
                    }
                });
            });
    }

    setInterval(getSystemStats, 5000);
    setInterval(getUserStats, 5000);
    
    getSystemStats();
    getUserStats();
    updateConnectionChart();
    
</script>

{% endblock %}
