{% extends "admin/base.jinja" %}
{% block content %}
<h1 class="mt-5">Add new domain</h1>
<div class="section">
    <form method="post" class="mt-5">
        <div class="form-group mb-4">
            <label for="domainName">Domain address</label>
            <input type="text" class="form-control" id="domainName" name="domain" value="" placeholder="example.com">
        </div>
        <div class="form-group mb-4">
            Set the DNS records for this domain to a CDN (like CloudFlare), <br />
            Set it to point to <strong>{{ server_ip }}</strong>, <br />
            Make sure SSL/TLS encryption mode is full (<a href="https://raw.githubusercontent.com/VZiChoushaDui/Libertea/master/docs/cloudflare-full-ssl.png" target="_blank">help</a>),<br />
            and the CDN is enabled (orange cloud icon in CloudFlare).
        </div>
        <input type="hidden" name="next" value="" />

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<script>
    var domain = new URLSearchParams(window.location.search).get('domain');
    if (domain) {
        document.getElementById('domainName').value = domain;
    }

    var next = new URLSearchParams(window.location.search).get('next');
    if (next) {
        document.querySelector('input[name="next"]').value = next;
    }
</script>

{% endblock %}
