{% extends "admin/base.jinja" %}
{% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
/>
<style>
    .form-group small {
        display: block;
        padding-top: 2px;
    }
</style>
<form method="post" class="mt-5 px-3">
    <div class="form-group mb-4">
        <label for="server_ip" class="fw-bold">Server IP Address</label>
        <input type="text" class="form-control" id="server_ip" name="server_ip" value="{{ server_ip }}" style="max-width: 400px; background: #eee;" readonly>
    </div>
    <div class="form-group mb-4">
        <label for="main_domain" class="fw-bold">User Link & Admin Panel Domain</label>
        <input type="text" class="form-control" id="main_domain" name="main_domain" value="{{ main_domain }}" style="max-width: 400px; background: #eee;" readonly>
        <small class="form-text text-muted">Links generated for each user will be served from this domain. If you want to change it, run the <a href="https://github.com/VZiChoushaDui/Libertea#installation" target="_blank">install script</a> again.</small>
    </div>
    <div class="form-group mb-4">
        <label for="camouflage_domain" class="fw-bold">Camouflage Website</label>
        <input type="text" class="form-control" id="camouflage_domain" name="camouflage_domain" value="{{ camouflage_domain }}" style="max-width: 400px;" placeholder="https://">

        {% if camouflage_error != None %}
            {% if camouflage_error == "camouflage_domain_not_https" %}
            <small class="form-text text-danger fw-bold">Camouflage website must start with https://</small>
            {% elif camouflage_error == "camouflage_domain_not_reachable" %}
            <small class="form-text text-danger fw-bold">Camouflage website is not reachable. Please check the domain name, or use another one.</small>
            {% elif camouflage_error == "camouflage_domain_not_supported" %}
            <small class="form-text text-danger fw-bold">This website is not supported. Please choose another one.</small>
            {% else %}
            <small class="form-text text-danger fw-bold">{{ camouflage_error }}</small>
            {% endif %}
        {% endif %}

        <small class="form-text text-muted">When you visit the home page of your domains, contents of this domain will be shown instead.</small>
        <small class="form-text text-muted">Be creative in choosing your domain, so the chance of your domains being blocked decreases.</small>
    </div>
    <div class="form-group">
        <label class="form-check-label fw-bold">
            Protocols<br />
        </label>
    </div>
    <div class="mb-4 mx-2 route-direct-countries-list" style="border-left: 2px solid #aaa; padding-left: 8px;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_trojangrpc" id="provider_trojangrpc" {% if provider_enabled.trojangrpc %}checked{% endif %}>
            <label class="form-check-label" for="provider_trojangrpc">
                Trojan (gRPC)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_trojanws" id="provider_trojanws" {% if provider_enabled.trojanws %}checked{% endif %}>
            <label class="form-check-label" for="provider_trojanws">
                Trojan (WS)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_ssv2ray" id="provider_ssv2ray" {% if provider_enabled.ssv2ray %}checked{% endif %}>
            <label class="form-check-label" for="provider_ssv2ray">
                Shadowsocks (WS)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_vlessgrpc" id="provider_vlessgrpc" {% if provider_enabled.vlessgrpc %}checked{% endif %}>
            <label class="form-check-label" for="provider_vlessgrpc">
                VLESS (gRPC) <i style="opacity: 0.75; font-size: 12px;">Clash Meta and Stash only</i>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_vlessws" id="provider_vlessws" {% if provider_enabled.vlessws %}checked{% endif %}>
            <label class="form-check-label" for="provider_vlessws">
                VLESS (WS) <i style="opacity: 0.75; font-size: 12px;">Clash Meta and Stash only</i>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_vmessgrpc" id="provider_vmessgrpc" {% if provider_enabled.vmessgrpc %}checked{% endif %}>
            <label class="form-check-label" for="provider_vmessgrpc">
                VMESS (gRPC) <i style="opacity: 0.75; font-size: 12px;">Not recommended</i>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="provider_vmessws" id="provider_vmessws" {% if provider_enabled.vmessws %}checked{% endif %}>
            <label class="form-check-label" for="provider_vmessws">
                VMESS (WS) <i style="opacity: 0.75; font-size: 12px;">Not recommended</i>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="form-check-label fw-bold">
            Route regional IPs directly (Without VPN)<br />
        </label>
    </div>
    <div class="mb-4 mx-2 route-direct-countries-list" style="border-left: 2px solid #aaa; padding-left: 8px;">
        {% for country in route_direct_countries %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" name="route_direct_{{ country.id }}" id="route_direct_{{ country.id }}" {% if route_direct_country_enabled[country.id] %}checked{% endif %}>
            <label class="form-check-label" for="route_direct_{{ country.id }}">
                <span class="fi fi-{{ country.id }}"></span>  {{ country.name }}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="form-group mb-4">
        <label for="concurrentIps" class="fw-bold">Default max concurrent IPs to connect</label>
        <input type="number" class="form-control" id="concurrentIps" name="max_ips" value="{{ max_ips }}" style="max-width: 400px;">
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" value="on" name="manual_tier_select_clash" id="manual_tier_select_clash" {% if manual_tier_select_clash %}checked{% endif %}>
        <label class="form-check-label" for="manual_tier_select_clash">
            Allow users to manually select proxy priority groups (tiers) in Clash clients
        </label>
    </div>
    <div class="form-group mb-4">
        <button class="show-advanced-settings btn btn-link px-0">Show advanced settings</button>
    </div>
    <script>
        document.querySelector(".show-advanced-settings").addEventListener("click", function(e) {
            e.preventDefault();
            document.querySelector(".advanced-settings").style.display = "block";
            this.style.display = "none";
        });
    </script>
    <div class="advanced-settings" style="display: none">
        <div class="form-group">
            <label class="form-check-label fw-bold">
                Default available servers in V2ray/Shadowsocks clients<br />
                <span style="opacity: 0.75; font-size: 12px;">
                    Select which priority groups should be visible to each user by default in V2Ray/Shadowsocks clients.
                </span>
            </label>
        </div>
        <div class="mb-4 mx-2 route-direct-countries-list" style="border-left: 2px solid #aaa; padding-left: 8px;">
            {% for tier in ['1','2','3','4'] %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="on" name="tier_enabled_for_subscription_{{ tier }}" id="tier_enabled_for_subscription_{{ tier }}" {% if tier_enabled_for_subscription[tier] %}checked{% endif %}>
                    <label class="form-check-label" for="tier_enabled_for_subscription_{{ tier }}">
                        Priority {{ tier }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label class="form-check-label fw-bold">
                Server selection method<br />
            </label>
        </div>
        <div class="mb-5 mx-2 pt-2 tier-proxygroup-types-list row" style="border-left: 2px solid #aaa;">
            {% for tier in ['1', '2', '3', '4'] %}
            <div class="form-group mb-2 col-12 col-sm-6 col-md-3">
                <label for="tier_{{tier}}_proxygroup_type">Priority {{ tier }}</label>
                <select class="form-select" aria-label="Tier {{ tier }} server selection method" id="tier_{{tier}}_proxygroup_type" name="tier_{{tier}}_proxygroup_type">
                    <option value="urltest" {% if proxygroup_type_selected[tier] == 'urltest' %}selected{% endif %}>Ping</option>
                    <option value="loadbalance" {% if proxygroup_type_selected[tier] == 'loadbalance' %}selected{% endif %}>Load balance (round-robin)</option>
                    <option value="fallback" disabled {% if proxygroup_type_selected[tier] == 'fallback' %}selected{% endif %}>Fallback (best health score first)</option>
                </select>
            </div>
            {% endfor %}
        </div>

        <div class="form-group mb-4">
            <label for="proxy_port" class="fw-bold">Secondary proxy port</label>
            <select class="form-select" aria-label="Secondary proxy port" id="proxy_port" name="proxy_port">
                <option value="443" {% if proxy_port == '443' %}selected{% endif %}>443</option>
                <option value="80" {% if proxy_port == '80' %}selected{% endif %}>80</option>
                <option value="443,80" {% if proxy_port == '80,443' %}selected{% endif %}>Both 80 and 443</option>
            </select>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="on" name="single_file_clash" id="single_file_clash" {% if single_file_clash %}checked{% endif %}>
            <label class="form-check-label" for="single_file_clash">
                Use single-file clash configuration<br />
                <i style="opacity: 0.75">Disables one-click auto update for users, but makes initial import faster on poor connections</i>
            </label>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="on" name="add_domains_even_if_inactive" id="add_domains_even_if_inactive" {% if add_domains_even_if_inactive %}checked{% endif %}>
            <label class="form-check-label" for="add_domains_even_if_inactive">
                Add all domains to Clash config, even if they are not active or reachable from server
            </label>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="on" name="health_check" id="health_check" {% if health_check %}checked{% endif %}>
            <label class="form-check-label" for="health_check">
                Periodic health check from clients <strong>[BETA]</strong><br />
                <i style="opacity: 0.75">Only single-file clash configuration supports this feature</i>
            </label>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="on" name="providers_from_all_endpoints" id="providers_from_all_endpoints" {% if providers_from_all_endpoints %}checked{% endif %}>
            <label class="form-check-label" for="providers_from_all_endpoints">
                Add all VPN endpoints as provider source URLs
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
