{% extends "admin/base.jinja" %}
{% block content %}
<div class="qr-modal">
    <div class="qr-modal-content">
        <div id="qr-code"></div>
        <button class="btn btn-light qr-modal-close" style="margin-top: 24px; width: 150px;">Back</button>
    </div>
</div>
<h1 class="mt-4 mb-5">User "{{ user.note }}"</h1>
{% if no_domain_warning %}
<div class="w-100 mt-4 px-3">
    ⚠️ Warning: You don't have any domains or secondary proxies set for your VPN. User's won't be able to connect to your VPN until you add a domain.
</div>
{% endif %}
<div class="section">
    <div class="form-group mb-4">
        <label for="panelUrl">User link</label>
        <div class="input-group">
            <input type="text" class="form-control" id="panelUrl" readonly value="{{ user.panel_url }}">
            <button class="btn btn-outline-secondary btn-qr-code" type="button">
                <i class="fa-solid fa-qrcode"></i>
            </button>
            <button class="btn btn-outline-secondary btn-email" type="button">
                <i class="fa-solid fa-envelope"></i>
            </button>
            <button class="btn btn-outline-secondary btn-copy" type="button">
                <i class="fa-solid fa-copy"></i>
            </button>
            <a class="btn btn-primary btn-open-url" type="button" href="{{ user.panel_url }}" target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square" style="margin-top: 4px"></i>
            </a>
        </div>
        <div class="form-text">Share the link above with user. Installation instructions are available for them in this link.</div>
    </div>
</div>
<hr />
<div class="section stats mb-5">
    <div class="row">
        <div class="col-6 col-sm-3 stats-item">
            <div class="stats-item-value">{{ traffic_today }}</div>
            <div class="stats-item-desc">Traffic today</div>
        </div>
        <div class="col-6 col-sm-3 stats-item">
            <div class="stats-item-value">{{ traffic_this_month }}</div>
            <div class="stats-item-desc">Traffic in {{ month_name }}</div>
        </div>
        <div class="col-6 col-sm-3 stats-item">
            <div class="stats-item-value ips-connected-right-now">⌛</div>
            <div class="stats-item-desc">IPs connected right now</div>
        </div>
        <div class="col-6 col-sm-3 stats-item">
            <div class="stats-item-value">{{ ips_today }}</div>
            <div class="stats-item-desc">IPs connected today</div>
        </div>
    </div>
</div>
<div class="section mb-4">
    <h6>Traffic usage over time</h6>
    <canvas id="trafficChart" style="width: 100%; height: 250px;"></canvas>
</div>
<div class="section mb-4">
    <h6>Connected IPs over time</h6>
    <canvas id="connectionChart" style="width: 100%; height: 250px;"></canvas>
</div>
<div class="section">
    <form method="post" class="mt-2">
        <h6 class="mb-2 bordered">User settings</h6>
        <div class="form-group mb-4">
            <label for="userId">User Id</label>
            <input type="text" class="form-control" id="userId" name="userId" readonly disabled value="{{ user._id }}">
        </div>
        <div class="form-group mb-4">
            <label for="displayName">Display name</label>
            <input type="text" class="form-control" id="displayName" name="note" value="{{ user.note }}">
        </div>
        <div class="form-group mb-4">
            <label for="max_ips">Max concurrent IPs to connect</label>
            <div class="input-group mb-3">  
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="on" id="max_ips_default" name="max_ips_default" {% if max_ips_default %}checked{% endif %}>
                    <label class="form-check-label mx-2" for="max_ips_default">
                        Default
                    </label>
                </div>
                <input type="number" class="form-control" id="max_ips" name="max_ips" value="{{ user.max_ips }}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
        </button>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this user?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger btn-delete-user">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        document.querySelector('.btn-delete-user').addEventListener('click', function() {
            fetch(window.location.href, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(response) {
                if (response.ok) {
                    window.location.href = '/{{ admin_uuid }}/users/';
                } else {
                    alert('Failed to delete user');
                }
            });
        });

        var panel_url = "{{ user.panel_url }}";
        document.querySelector('.btn-copy').addEventListener('click', function() {
            navigator.clipboard.writeText(panel_url);
            document.querySelector('.btn-copy i').classList.remove('fa-copy');
            document.querySelector('.btn-copy i').classList.add('fa-check');
            document.querySelector('.btn-copy').classList.remove('btn-outline-secondary');
            document.querySelector('.btn-copy').classList.add('btn-secondary');
            setTimeout(function() {
                document.querySelector('.btn-copy i').classList.remove('fa-check');
                document.querySelector('.btn-copy i').classList.add('fa-copy');
                document.querySelector('.btn-copy').classList.remove('btn-secondary');
                document.querySelector('.btn-copy').classList.add('btn-outline-secondary');
            }, 1500);
        });

        document.querySelector('.btn-email').addEventListener('click', function() {
            window.location.href = 'mailto:?subject=Clash%20Panel%20URL&body=' + encodeURIComponent(panel_url);
        });

        document.querySelector('.btn-qr-code').addEventListener('click', function() {
            var size = 400;
            size = Math.min(size, window.innerWidth - 120);

            new QRCode(document.getElementById("qr-code"), {
                text: panel_url,
                width: size,
                height: size,
            });

            document.querySelector('.qr-modal').style.display = 'block';
            requestAnimationFrame(function () {
                document.querySelector('.qr-modal').style.opacity = 1;
            });                
        });

        document.querySelector('.qr-modal-close').addEventListener('click', function (event) {
            document.querySelector('.qr-modal').style.opacity = 0;
            setTimeout(function () {
                document.querySelector('.qr-modal').style.display = 'none';
                document.getElementById("qr-code").innerHTML = '';
            }, 300);
        });       

        // on clicking panelUrl, select all and copy to clipboard
        document.getElementById('panelUrl').addEventListener('click', function() {
            this.select();
            document.querySelector('.btn-copy').dispatchEvent(new Event('click'));
        });


        // disable max_ips input if max_ips_default is checked
        document.getElementById('max_ips_default').addEventListener('change', function() {
            document.getElementById('max_ips').disabled = this.checked;
            if (this.checked) {
                document.getElementById('max_ips').value = '{{ default_max_ips_count }}';
            }
        });
        document.getElementById('max_ips_default').dispatchEvent(new Event('change'));


        function get_ips_connected_right_now() {
            fetch('/{{ user.connect_url }}/connected-ips-count')
                .then(function(response) {
                    return response.text()
                })
                .then(function(data) {
                    if (Number.isInteger(parseInt(data))) {
                        document.querySelector('.ips-connected-right-now').innerHTML = data;
                    } else {
                        document.querySelector('.ips-connected-right-now').innerHTML = '-';
                    }
                });
        }

        function updateConnectionChart() {
            fetch('/{{ admin_uuid }}/stats/connections/{{ user._id }}?days=14')
                .then(function(response) {
                    return response.json()
                })
                .then(function(data) {
                    const ctx = document.getElementById('connectionChart');
                    ctx.innerHTML = "";

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.x,
                            datasets: [{
                                label: 'IPs connected',
                                data: data.y,
                                borderWidth: 1,
                                backgroundColor: 'rgba(229, 89, 119, 0.75)',
                                borderColor: 'rgba(229, 89, 119, 0.75)',
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    title: {
                                        display: true,
                                        text: "Connected IPs",
                                    },
                                    beginAtZero: true,
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false,
                                },
                                zoom: {
                                    zoom: {
                                        wheel: {
                                            enabled: true,
                                        },
                                        pinch: {
                                            enabled: true
                                        },
                                        mode: 'x',
                                    },
                                    pan: {
                                        enabled: true,
                                        mode: 'x',
                                    }
                                }
                            },
                        }
                    });
                });
        }

            
        function updateTrafficChart() {
            fetch('/{{ admin_uuid }}/stats/traffic/user/{{ user._id }}?days=30')
                .then(function(response) {
                    return response.json()
                })
                .then(function(data) {
                    const ctx = document.getElementById('trafficChart');
                    ctx.innerHTML = "";

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.x,
                            datasets: [{
                                label: 'Traffic',
                                data: data.y,
                                borderWidth: 1,
                                fill: true,
                                backgroundColor: 'rgba(229, 89, 119, 0.2)',
                                borderColor: 'rgba(229, 89, 119, 1)',
                            }]
                        },
                        options: {
                            interaction: {
                                intersect: false,
                                mode: 'index',
                            },
                            scales: {
                                y: {
                                    title: {
                                        display: true,
                                        text: "Traffic (GB)",
                                    },
                                    beginAtZero: true,
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false,
                                },
                                zoom: {
                                    zoom: {
                                        wheel: {
                                            enabled: true,
                                        },
                                        pinch: {
                                            enabled: true
                                        },
                                        mode: 'x',
                                    },
                                    pan: {
                                        enabled: true,
                                        mode: 'x',
                                    }
                                }
                            },
                        }
                    });
                });
        }

        setInterval(get_ips_connected_right_now, 5000);
        get_ips_connected_right_now();
        updateConnectionChart();
        updateTrafficChart();
    </script>
</div>

{% endblock %}
