{
    "log": {
        "loglevel": "info"
    },
    "inbounds": [
        {
            "port": {port},
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "{uuid}",
                        "level": 0,
                        "email": "me@example.com",
                        "flow": "xtls-rprx-direct"
                    }
                ],
                "decryption": "none",
                "fallbacks": [
                    {
                        "dest": 80
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "xtls",
                "xtlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "/etc/xray/cert.pem",
                            "keyFile": "/etc/xray/privkey.pem"
                        }
                    ]
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}
