{
    "log": {
        "loglevel": "warning"
    },
    "inbounds": [
        {
            "port": {port},
            "protocol": "shadowsocks",
            "settings": {
                "clients": [
                    {
                        "password":"{password}",
                        "method": "chacha20-ietf-poly1305"
                    }
                ]
            },
            "streamSettings": {
                "network": "grpc",
                "security": "none",
                "grpcSettings": {
                    "serviceName": "{url}"
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "socks",
            "settings": {
                "servers": [
                    {
                        "port": 0,
                        "address": "127.0.0.1"
            
                    }
                ]
            }
        }
    ]
}