{
    "log": {
        "loglevel": "warning"  
    },
    "inbounds": [
        {
            "port": {port},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{uuid}",
                        "level": 0,
                        "alterId": 0,
                        "email": "me@example.com"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "ws",
                "security": "tls",
                "wsSettings": {
                    "path": "/{url}"
                },
                "tlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "/etc/xray/cert.pem",
                            "keyFile": "/etc/xray/privkey.pem"
                        }
                    ]
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}

