{
    "log": {
        "loglevel": "warning"
    },
    "inbounds": [
        {
            "listen": "127.0.0.1",
            "port": {port},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{uuid}",
                        "alterId": 0,
                        "email": "me@example.com"
                    }
                ]
            },
            "streamSettings": {
                "network": "ws",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "/etc/xray/cert.pem",
                            "keyFile": "/etc/xray/privkey.pem"
                        }
                    ]
                },
                "wsSettings": {
                    "acceptProxyProtocol": true,
                    "path": "/{url}"
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}
