{
    "log": {
        "loglevel": "warning"
    },
    "inbounds": [
        {
            "port": {port},
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "{uuid}",
                        "level": 0,
                        "email": "me@example.com"
                    }
                ],
                "decryption": "none",
                "fallbacks": [
                    {
                        "path": "/{url}",
                        "dest": {port-internal},
                        "xver": 1
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "tls",
                "tlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "/etc/xray/cert.pem",
                            "keyFile": "/etc/xray/privkey.pem"
                        }
                    ]
                }
            }
        },
        {
            "port": {port-internal},
            "listen": "127.0.0.1",
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{uuid}",
                        "email": "general@vmess-ws",
                        "level": 0
                    }
                ]
            },
            "streamSettings": {
                "network": "ws",
                "security": "none",
                "wsSettings": {
                    "acceptProxyProtocol": true,
                    "path": "/{url}"
                }
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [
                    "http",
                    "tls"
                ]
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}