{% extends "admin/welcome/base.jinja" %}
{% block content %}

<div class="text-start mt-3">
    <img src="https://raw.githubusercontent.com/VZiChoushaDui/Libertea/master/docs/logo.png" class="libertea-top-logo" />
    <p class="mt-4" style="font-weight: 700">
        Libertea is now ready to use.
    </p>
    <p class="mt-2">
        Go to <strong>Users</strong> tab, create a user and connect to Libertea on your devices.
    </p>
    <br />
    <br />
    <br />
    <br />

    <a href="/{{ admin_uuid }}/welcome/camouflage/" class="btn btn-outline-primary mt-5">Back</a>
    <a href="/{{ admin_uuid }}/" class="btn btn-primary mt-5">Start Libertea</a>
</div>
{% endblock %}
