{% extends "admin/welcome/base.jinja" %}
{% block content %}

<div class="text-start mt-3">
    <img src="https://raw.githubusercontent.com/VZiChoushaDui/Libertea/master/docs/logo.png" class="libertea-top-logo" />
    <p class="mt-4" style="font-weight: 700">
        Libertea is now ready to use.
    </p>
    <p class="mt-2">
        You can now connect to Libertea and enjoy the Internet without censorship.
    </p>
    <br />
    <br />
    <br />
    <br />
    
    <a href="/{{ admin_uuid }}/" class="btn btn-primary mt-5">Finish</a>
</div>
{% endblock %}
