[Unit]
Description=LiberteaPanel
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
User=root
EnvironmentFile={rootpath}/.env
WorkingDirectory={rootpath}/panel
Type=simple
ExecStart=/bin/sh -c 'uwsgi --disable-logging --master -p 4 --need-app --http 127.0.0.1:1000 -w serve:app >> /tmp/libertea-panel.log 2>&1'
StandardInput=tty-force
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
