{
    "log": {
        "loglevel": "warning"
    },
    "inbounds": [
        {
            "listen": "127.0.0.1",
            "port": {port},
            "protocol": "trojan",
            "settings": {
                "clients": [
                    {
                        "password":"{password}"
                    }
                ]
            },
            "streamSettings": {
                "network": "grpc",
                "security": "none",
                "grpcSettings": {
                    "serviceName": "{url}"
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "socks",
            "settings": {
                "servers": [
                    {
                        "port": 2999,
                        "address": "127.0.0.1"
                    }
                ]
            }
        }
    ]
}