[Unit]
Description=LiberteaProxyFakeTraffic
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
User=root
EnvironmentFile={rootpath}/.env
WorkingDirectory={rootpath}/proxy-fake-traffic
Type=simple
ExecStart=/bin/bash -c '/usr/bin/python3 -u {rootpath}/proxy-fake-traffic/main.py >> /tmp/libertea-proxy-fake-traffic.log 2>&1'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
